Package: com.billyellis.glassobject
Name: GlassObject
Depends: 
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Billy Ellis
Author: Billy Ellis
Section: Utilities
Version: 0.0.1-3
Installed-Size: 1300
